<!-- <app-interpolation></app-interpolation> -->
<!-- <app-interpolation1></app-interpolation1> -->
<!-- <app-interpolation2></app-interpolation2> -->
<!-- <app-interpolation3></app-interpolation3> -->

<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-propertybinding1></app-propertybinding1> -->
<!-- <app-propertybinding2></app-propertybinding2> -->
<!-- <app-propertybinding3></app-propertybinding3> -->

<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->

<!-- <app-twowaydatabinding></app-twowaydatabinding> -->
<!-- <app-twowaydatabinding1></app-twowaydatabinding1> -->
<!-- <app-twowaydatabinding2></app-twowaydatabinding2> -->

<!-- <app-twowaydatabinding3></app-twowaydatabinding3> --><!-- this practise tahe giving problem app crashes-->

<!-- <app-ng-modelchange></app-ng-modelchange> -->

<!-- <app-change-event></app-change-event> -->

<!-- directives practise -->

<!-- *ngFor -->
<!-- <app-parctise></app-parctise> -->
<!-- <app-parctise1></app-parctise1> -->
<!-- <app-parctise2></app-parctise2> -->
<!-- <app-practise3></app-practise3> -->
<!-- <app-practise4></app-practise4> -->
<!-- <app-practise5></app-practise5> --><!--treackby-->

<!-- ngSwitch -->
<!-- <app-practise6></app-practise6> -->
<!-- <app-practise7></app-practise7> -->
<!-- <app-practise8></app-practise8> -->
<!-- <app-practise9></app-practise9>  -->
<!-- <app-practise10></app-practise10> -->
<!-- <app-practise20></app-practise20>--> <!-- ng-TemplateOutlet -->

<!-- ngIf -->
<!-- <app-practise11></app-practise11> -->
<!-- <app-practise12></app-practise12> -->
<!-- <app-practise13></app-practise13> -->

<!-- ngClass -->
<!-- <app-practise14></app-practise14> -->
<!-- <app-practise15></app-practise15> -->
<!-- <app-practise16></app-practise16> -->
<!-- <app-practise17></app-practise17> -->

<!-- ngStyle -->
<!-- <app-practise18></app-practise18> -->
<!-- <app-practise19></app-practise19> --><!--not working-->

<!-- ngFor Trackby -->
<!-- <app-practise21></app-practise21>--><!--ngFor Trackby one example practise remaning to practise parctise it tommarow -->
<!-- <app-practise22></app-practise22>  -->


<!-- custom directive -->
<!-- <app-test-cd></app-test-cd> -->
<!-- <h1 *appNot="true">True</h1><h1 *appNot="false">False</h1> -->
<!-- <button [ttClass]="'blue'">Click Me</button> -->
<!-- <app-practise23></app-practise23>--><!--used for to test custom strectural directive -->
<!-- <app-practise24></app-practise24> -->
<!-- <app-practise25></app-practise25> --><!--not working properly-->

<!-- pipes -->
<!-- <app-pipe1></app-pipe1> -->
<!-- <app-pipe2></app-pipe2> -->
<!-- <app-pipe3></app-pipe3> -->
<!-- <app-pipe4></app-pipe4> -->
<!-- <app-pipe5></app-pipe5> -->
<!-- <app-pipe6></app-pipe6> -->
<!-- <app-pipe7></app-pipe7> -->
<!-- <app-custompipe></app-custompipe> --><!-- custom pipe -->
<!-- <app-datepipe></app-datepipe> -->

<!-- Async Pipe are reamming because of observable concept is not done yet  learn it after -->
<!-- keyValue pipe [reameaning] -->






