<p class="display-6 ms-5">Date Pipe</p>
<div class="container">
    <p>medium:{{toDate|date:'medium'}}</p>
    <p>fullDate : {{toDate | date:'fullDate'}} </p>
    <p>longDate : {{toDate | date:'longDate'}} </p>
    <p>mediumDate : {{toDate | date:'mediumDate'}} </p>
    <p>shortDate : {{toDate | date:'shortDate'}} </p>
    <p>mediumTime : {{toDate | date:'mediumTime'}} </p>
    <p>dd-MM-y : {{toDate | date:'dd-MM-y'}} </p>
    <p>dd-MM-yy HH:mm : {{toDate | date:'dd-MM-yy HH:mm'}} </p>`


</div>
